@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Fira+Mono:wght@400;500;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  font-family: 'Fira Mono', serif;
}

body {
  background-color: rgb(252, 222, 103);
  font-family: 'Fira Mono', monospace;
  text-align: center;
}

h1 {
  font-family: 'Delicious Handrawn', cursive;
  font-size: 100px;
  margin: 2rem;
}

h4 {
  font-size: 35px;
  margin: 2rem;
}

p {
  font-size: 24px;
  font-weight: 200;
  margin: 1rem 25% 1rem;
  padding: 2.5rem;
  border-radius: 2rem;
  background-color: rgb(255, 254, 200);
  box-shadow: 1px 1px 5px #000000;
}

button {
  font-family: 'Martian Mono', serif;
  font-size: 24px;
  background-color: rgb(252, 222, 103);
  border-color: black;
  border-radius: 10px;
  margin: 3rem;
  padding: 0.75rem;
  transition: scale 0.1s;
}

button:hover {
  background-color: #DABF22;
  cursor: pointer;
  scale: 1.05;
}